-- Add trusted device fields to user_sessions table
ALTER TABLE user_sessions ADD COLUMN trusted_device_token TEXT;
ALTER TABLE user_sessions ADD COLUMN revoked_at TIMESTAMP;
CREATE INDEX idx_user_sessions_trusted_device_token ON user_sessions(trusted_device_token);
